
	   <div class="row">
				<section class="main col-md-12">
					<article>
                    <h2>Jung Soo Choi - the developer</h2>
                    <p>Hello Everyone!</p>
                    <p>I am Jung Soo Choi!</p>
                    <p>I am currtnly enrolling in Seneca College at York University. I am in Computer Programming Language program.</p>
                    <p>I am in third semester, and luckly because I took the summer course, I will graduate earlier than my friends and collegues. I want to work in game company as game developer or designer or concept artists!</p>
                    <p>My student number is 134708155. I am from South Korea, and I am 22 years old in Canada. Which means I am 23 years old in South Korea!</p>
                    <p>Have a nice day everyone!</p>
					</article>
				</section>
		</div>
	