
	   <div class="row">
			<aside class="col-md-3">
				<h3>Comming Soon</h3>
                <p>Hello! I am Jung Soo Choi</p>
                <p>My student number is 134708155</p>
                <p>What is this??!!</p>
			</aside>
			<section class="main col-md-9">
				<article>
                <h2>Welcome</h2>
                <p>Random paragraph Random paragraph Random paragraph Random paragraph Random paragraph Random paragraph Random paragraph</p>
                <p>Second Random paragraph</p>
                <p>Thrid Random paragraph</p>
                <p>I think I am spelling wrong</p>
                <P>Last random paragraph</P>
				</article>
			</section>
		
		</div>
	